.letter-spacing-1 {
    letter-spacing: 2px;
}

.letter-spacing-2 {
    letter-spacing: 4px;
}

.letter-spacing-3 {
    letter-spacing: 8px;
}

.letter-spacing-wide {
    letter-spacing: 0.3em;
}

.max-img {
    max-height: 150px;
    width: auto;
    object-fit:contain;
}

.btn-border-round{
    border-radius: 50px;
}

.try-div{
border-radius: 8px;
background-color: white;
box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
border: 1px solid rgba(0,0,0,0.1);
}
    
#txt{
    border-radius: 10px;
    height: 50px;
    border: .5px solid rgba(0,0,0,0.1);
    font-size: large;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    background-color:rgba(0,0,0,0.02);
}

#txt:focus {
    outline: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.text-justify{
    text-align: justify;
}

 .footer {
    margin-top: 40px;
    padding: 10px;
    background: #0b0d1020;
    
    color: #00000080;
    font-size: 8px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1200px;
    margin: auto;
    font-size: 12px;
    border-top: 1px solid #00000030;
}

.footer strong {
    color: #00000060;
}


#topBtn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 25px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle-border {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    height: 75px;
    width: 75px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbg-cus{
    background: #00000090;    
    backdrop-filter: blur(5px) opacity(50) brightness(100%);
    box-shadow: 0px 1px 10px rgb(0, 0, 0,.4);
}


.fixed-banner{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 950;
    width: 200px;
    height: auto;
    margin-left: 5px;

    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;

    background: -webkit-linear-gradient(top right,#42A5F5 5%, #2979FF,#E040FB ,#FF5252,#FFAB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    text-align: center;
    height: 25px;

    border-left: solid 1px #E1F5FE;
    border-top: solid 1px #E1F5FE;
    border-top-left-radius: 15px;
    backdrop-filter: blur(3px) opacity(50) brightness(100%);

    /* animation: animatedTextGradient 5s linear infinite; */
}